*{
  margin: 0;
  padding: 0;
}

nav ul{
  list-style-type: none;

}

nav{
  background-color: black;
  color: rgb(194, 194, 180);
  height: 60px;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Roboto", sans-serif;
}

.gameContainer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.container{
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: 'Roboto', sans-serif;
}

.box{
  font-size: 8vw;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
  background-color: rgb(242, 223, 242);
  transition: 0.5s;
}

.gameInfo{
  padding: 0 34px;
}

.imgBox img{
  display: none;
}

.bt-0{
  border-top: 0;
}
.bb-0{
  border-bottom: 0;
}
.bl-0{
  border-left: 0;
}
.br-0{
  border-right: 0;
}